.hola{

    height: 200px;
    width: 150px;
    align-items: center;
    align-content: center;

}


.inline-paragraphs {
    display: inline-flex; /* Hace que los elementos <span> se muestren en línea */
    margin-right: 20px; /* Agrega un espacio entre los párrafos */
    justify-content: center;
    text-align: center;
    content: counter(name);
    text-align: center;
  }